# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# PyInstaller
build/
dist/
*.spec

# Logs
*.log
rtt_system.log
rtt_data*.log
rtt_data.txt

# Temp files
frames/
video/
*.tmp
*TEMP_MPY*
ScreenShot*.png

# Media
reference.mp4

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db