# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Build
build/
dist/

# Logs
*.log
rtt_data*.log
rtt_data.txt

# Temp files
frames/
video/
*.tmp
*TEMP_MPY*
ScreenShot*.png

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db